<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="MongoDB" value="appharbor_m3qh47rf" />
  </appSettings>
  <connectionStrings>
    <add name="MongoConnection" connectionString="mongodb://appharbor_m3qh47rf:ilmqe32u1qkdm0j7clggvon98u@ds035844.mongolab.com:35844/appharbor_m3qh47rf" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>